body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #ffffff;
}

h1 {
    font-size: 1.5em; /* Ajuste del tamaño de la fuente del h1 */
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #313330;
    box-shadow: 0 0 8px rgba(43, 52, 43, 0.6);
}

button[type="submit"], .btn {
    margin: 8px;
    background-color: #494c49;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: calc(50% - 10px); /* Ajuste para espacio entre botón y enlace */
    transition: background-color 0.3s ease;
    display: inline-block; /* Ajuste para alinear en línea */
    margin-right: 20px; /* Espacio entre botón y enlace */
}

button[type="submit"]:hover, .btn:hover {
    background-color: #262926;
}

/* Animación al presionar el botón */
button[type="submit"]:active, .btn:active {
    transform: translateY(2px);
}

/* Estilos para el tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

